body {
  background-image: url('img/background.jpg');
  background-size: cover;         /* чтобы растянуть на весь экран */
  background-position: center;    /* выравнивание */
  background-repeat: no-repeat;   /* не повторять фон */
  color: white;                   /* сделаем текст светлым */
}

header {
  background: rgba(92, 60, 60, 0.8); /* Полупрозрачный фон */
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

.product img {
  border-radius: 5px;
}

/* Индивидуальные стили для картинок */
.img1 {
  width: 300px;         /* Ширина картинки 1 */
  height: 300px;        /* Высота картинки 1 */
  object-fit: cover;    /* Картинка будет обрезана по размеру */
}

.img2 {
  width: 300px;         /* Ширина картинки 2 */
  height: 300px;        /* Высота картинки 2 */
  object-fit: cover;    /* Поддержка аккуратного отображения */
}

.img3 {
width: 300px;         /* Ширина картинки 3 */
  height: 300px;        /* Высота картинки 3 */
  object-fit: cover;    /* Поддержка аккуратного отображения */
}

/* Подпись под изображениями */
.caption {
  font-style: Muli;
  font-size: 1.2em;
  color: #000000;
  margin: 10px 0;
}
/* Стили для подписи под изображением */
.caption {
  font-style: Muli;        /* Курсив */
  font-size: 1em;          /* Размер шрифта */
  color: #333;               /* Цвет текста */
  margin: 10px 0;            /* Отступ сверху и снизу */
  text-align: center;        /* Выравнивание по центру */
}

/* Стили для описания товара под подписью */
.description {
  font-size: 1.2em;            /* Размер текста (изменяй: 0.8em – меньше, 1.2em – больше) */
  color: #444;               /* Цвет (можно заменить на #222, #666 и т.д.) */
  margin: 10px 0;            /* Отступы сверху и снизу */
  line-height: 1.5;          /* Межстрочный интервал */
  text-align: center;       /* Выравнивание текста по ширине (можно изменить на left, center, right) */
}

.order-button {
  background: #5c3c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.order-form {
  display: none;
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.order-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background: #5c3c3c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: rgba(92, 60, 60, 0.8); /* Полупрозрачный фон */
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  max-width: 98%;
  margin: 0 auto;
}
