body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-image: url('background.png'); /* Путь к изображению фона */
 background-size: cover;
 background-position: center;
 color: #333;
}

header {
 background: rgba(92, 60, 60, 0.8); /* Полупрозрачный фон */
 color: white;
 padding: 20px;
 text-align: center;
}

.container {
 width: 90%;
 margin: auto;
 overflow: hidden;
}

.product {
 background: white;
 border: 1px solid #ddd;
 border-radius: 5px;
 margin: 20px 0;
 padding: 20px;
 text-align: center;
}

.product img {
 max-width: 100%;
 height: auto;
 border-radius: 5px;
}

.order-button {
 background: #5c3c3c;
 color: white;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 10px;
}

.order-form {
 display: none;
 margin-top: 20px;
 background: #fff;
 padding: 20px;
 border-radius: 5px;
 border: 1px solid #ddd;
}

.order-form input {
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 border: 1px solid #ddd;
 border-radius: 5px;
}

.submit-button {
 background: #5c3c3c;
 color: white;
 padding: 10px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

footer {
 background: rgba(92, 60, 60, 0.8); /* Полупрозрачный фон */
 color: white;
 text-align: center;
 padding: 20px;
 position: relative;
 bottom: 0;
 width: 100%;
}
