body {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

header, footer {
  background: rgba(92, 60, 60, 0.8);
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
}

.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* адаптивно */
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Центрирование всех карточек */
  justify-items: center;    /* Центрирование внутри ячеек */
}


.product img {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.caption {
  font-size: 1em;
  color: #333;
  margin: 10px 0;
}

.description {
  font-size: 1.2em;
  color: #444;
  margin: 10px 0;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 в ряд */
  gap: 20px;
  padding: 20px;
  justify-items: center; /* Центрирует карточки */
}

.product {
  width: 100%;
  max-width: 320px; /* чтобы карточки были аккуратными */
}


.cost {
  font-size: 1.5em;
  color: black;
  margin: 10px 0;
  text-align: center;
}

.button {
  background: #5c3c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
}

.button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: scale(0.95);
}


.more-button {
  display: inline-block;
  font-size: 1.5em;
  padding: 12px 30px;
  background: linear-gradient(135deg, #7b4f4f, #a86d6d);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 40px auto;
  display: block;
  text-align: center;
  width: fit-content;
}


.more-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, #a86d6d, #7b4f4f);
}

.more-button:active {
  transform: scale(0.95);
}

.order-form {
  display: none;
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.order-form input,
.order-form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}
